<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/9021aeec94.js"
      crossorigin="anonymous"
    ></script>
    <style>
      /* 추가 수정버튼 마진값 */
      .edit-icon {
        margin: 10px;
      }

      /* 이력서 텍스트 시작 마진값 */
      .text-start {
        margin: 10px;
      }

      .profile-box {
        display: block;
        position: relative;
        margin-bottom: 1em;
      }

      .edit-icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 80%;
      }

      .img-file {
        cursor: pointer;
        width: 50px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 90%;
        opacity: 0;
      }

      .user-img {
        width: 150px;
        border: 0.5px solid gray;
        border-radius: 70%;
      }

      .img-file::-webkit-file-upload-button {
        cursor: pointer;
      }
    </style>
    <link rel="stylesheet" href="/css/container.css" />
    <title>WINNER</title>
  </head>
  <body>
    <!-- 전체 컨테이너 -->
    <div class="main-container text-center">
      <%- include('includes/header', {isLogin: isLogin, type: "user"}) %>
      <!-- 브레드크롬 -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Home / mypage / user
          </li>
        </ol>
      </nav>
      <!-- 프로필 수정 -->
      <div class="profile-box">
        <img
          src="/img/userImg.jpg"
          id="image"
          class="user-img"
          alt=""
          srcset=""
          onerror="this.src='/img/userImg.jpg';"
        />
        <i class="fa-solid fa-pen edit-icon" style="color: #0d6efd">수정</i>
        <input
          id="user-image"
          class="img-file"
          type="file"
          accept="image/jpeg, image/png"
        />
      </div>
      <button class="btn btn-outline-secondary" id="image-delete">
        기본 프로필적용
      </button>
      <button class="btn btn-primary" id="save-btn">저장</button>
      <!-- 최상단 영역 메세지보내기까지 -->
      <hr />
    </div>
    <!-- 구분선 -->

    <!-- 이력서타이틀 -->
    <div class="container">
      <p class="fs-4 fw-semibold text-secondary-emphasis">이력서</p>
    </div>

    <!-- 개인소개 영역 -->
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
          <p class="text-start fs-5 fw-semibold" style="margin: 10px">소개</p>
        </div>

        <div class="col-8" id="resumeBox">
          <p
            class="fs-2 fw-semibold text-start information"
            style="margin: 10px"
          >
            예시 ) 이력서 제목입니다.
          </p>
          <p class="text-start">예시 ) 이력서 설명 입니다.</p>
          <!-- 구분선 -->
          <hr />
        </div>
        <!-- 수정 아이콘 -->
        <div class="col-2">
          <!-- 모달 -->
          <button
            type="button"
            class="btn btn-primary fa-solid fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#resume-add"
          >
            생성
          </button>
          <%- include('includes/introduction-add') %>
          <button
            type="button"
            class="btn btn-primary fa-solid fa-pen"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            수정
          </button>
          <%- include('includes/introduction') %>
          <!-- 모달 -->
          <!-- 소개 -->
        </div>
      </div>
    </div>

    <!-- 개인정보 영역 -->
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
          <p class="text-start fs-5 fw-semibold" style="margin: 10px">
            개인 정보
          </p>
        </div>

        <div class="col-8" id="userInfoBox">
          <!-- 이름 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">이름</p>
            </div>
            <div class="col-8">
              <p class="text-start">홍길동</p>
            </div>
          </div>
          <!-- 이름 -->

          <!-- 이메일 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">이메일</p>
            </div>
            <div class="col-8">
              <p class="text-start">asdf1234@gmail.com</p>
            </div>
          </div>
          <!-- 이메일 -->

          <!-- 전화번호 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">전화번호</p>
            </div>
            <div class="col-8">
              <p class="text-start">010-1234-1234</p>
            </div>
          </div>
          <!-- 전화번호 -->

          <!-- 성별 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">성별</p>
            </div>
            <div class="col-8">
              <p class="text-start">남자</p>
            </div>
          </div>
          <!-- 성별 -->

          <!-- 주소 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">주소</p>
            </div>
            <div class="col-8">
              <p class="text-start">경기도 성남시 분당고 불정로</p>
            </div>
          </div>
          <!-- 주소 -->

          <!-- 생년월일 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">생년월일</p>
            </div>
            <div class="col-8">
              <p class="text-start">2000 - 08 -16</p>
            </div>
          </div>
          <!-- 생년월일 -->
        </div>
        <!-- 수정 아이콘 -->
        <div class="col-2">
          <!-- 모달 -->
          <button
            type="button"
            class="btn btn-primary fa-solid fa-pen"
            data-bs-toggle="modal"
            data-bs-target="#user"
          >
            수정
          </button>
          <%- include('includes/user') %>
          <!-- 모달 -->
          <!-- 개인정보 -->
        </div>
      </div>
      <hr />
    </div>
    <!-- 개인정보 -->

    <!-- 학력 영역 -->
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
          <p class="text-start fs-5 fw-semibold" style="margin: 10px">학력</p>
        </div>

        <div class="col-8" id="educationBox">
          <p
            class="fs-2 fw-semibold text-start information"
            style="margin: 10px"
          >
            예시 ) 스파르타대학교(4년제)
          </p>

          <!-- 구분선 -->
          <hr />
          <!-- 학력 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">학력</p>
            </div>
            <div class="col-8">
              <p class="text-start">대학교</p>
            </div>
          </div>
          <!-- 학력 -->
          <!-- 전공 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">전공</p>
            </div>
            <div class="col-sm-8">
              <p class="text-start">예시 ) 컴퓨터공학과</p>
            </div>
          </div>
          <!-- 전공 -->

          <!-- 입학년도 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">입학년도</p>
            </div>
            <div class="col-sm-8">
              <p class="text-start">예시 ) 2014년 3월</p>
            </div>
          </div>
          <!-- 입학년도 -->

          <!-- 졸업년도 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">졸업년도</p>
            </div>
            <div class="col-sm-8">
              <p class="text-start">예시 ) 2018년 2월</p>
            </div>
          </div>
          <!-- 졸업년도 -->
        </div>
        <!-- 수정 아이콘 -->
        <div class="col-2" style="margin-top: 20px">
          <!-- 추가 모달 -->
          <button
            id="addEducationBtn"
            type="button"
            class="btn btn-primary fa-solid fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#education-add"
          >
            추가
          </button>
          <%- include('includes/education-add') %>
          <!-- 추가 모달 -->

          <!-- 수정 모달 -->
          <button
            type="button"
            class="btn btn-primary fa-solid fa-pen"
            data-bs-toggle="modal"
            data-bs-target="#education"
          >
            수정
          </button>
          <%- include('includes/education') %>
          <!-- 수정 모달 -->
        </div>
      </div>
      <hr />
    </div>
    <!-- 학력 정보 영역 -->

    <!-- 경력 영역 -->
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
          <p class="text-start fs-5 fw-semibold" style="margin: 10px">경력</p>
        </div>

        <div class="col-8" id="careerBox">
          <p
            class="fs-2 fw-semibold text-start information"
            style="margin: 10px"
          >
            예시 ) 스파르타 주식회사
          </p>

          <!-- 구분선 -->
          <hr />

          <!-- 직책 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">직책</p>
            </div>
            <div class="col-8">
              <p class="text-start">예시 ) 대리</p>
            </div>
          </div>
          <!-- 직책 -->

          <!-- 직무 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">직무</p>
            </div>
            <div class="col-8">
              <p class="text-start">예시 ) 개발자</p>
            </div>
          </div>
          <!-- 직무 -->

          <!-- 입사날짜 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">입사날짜</p>
            </div>
            <div class="col-8">
              <p class="text-start">예시 ) 2018년 3월</p>
            </div>
          </div>
          <!-- 입사날짜 -->

          <!-- 퇴사날짜 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">퇴사날짜</p>
            </div>
            <div class="col-8">
              <p class="text-start">예시 ) 2018년 3월</p>
            </div>
          </div>
          <!-- 퇴사날짜 -->
        </div>
        <!-- 수정 아이콘 -->
        <div class="col-2" style="margin-top: 20px">
          <!-- 추가 모달 -->
          <button
            id="addCareerBtn"
            type="button"
            class="btn btn-primary fa-solid fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#career-add"
          >
            추가
          </button>
          <%- include('includes/career-add') %>
          <!-- 추가 모달 -->

          <!-- 수정 모달 -->
          <button
            type="button"
            class="btn btn-primary fa-solid fa-pen"
            data-bs-toggle="modal"
            data-bs-target="#career"
          >
            수정
          </button>
          <%- include('includes/career') %>
          <!-- 수정 모달 -->
        </div>
      </div>
      <hr />
    </div>
    <!-- 경력 정보 영역 -->

    <!-- 포트폴리오 영역 -->
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
          <p class="text-start fs-5 fw-semibold" style="margin: 10px">
            포트폴리오
          </p>
        </div>

        <div class="col-8" id="portfolioBox">
          <!-- 파일 -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">파일</p>
            </div>
            <div class="col-8">
              <p class="text-start">예시 ) 포트폴리오_홍길동.pdf</p>
            </div>
          </div>
          <!-- 파일 -->

          <!-- URL -->
          <div class="row">
            <div class="col-4">
              <p class="text-start text-body-secondary">URL</p>
            </div>
            <div class="col-8">
              <p class="text-start">예시 ) 이력서_홍길동.pdf</p>
            </div>
          </div>
        </div>
        <!-- URL -->
        <!-- 수정 아이콘 -->
        <div class="col-2" style="margin-top: 20px">
          <!-- 추가 모달 -->
          <button
            id="addPortfolioBtn"
            type="button"
            class="btn btn-primary fa-solid fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#portfolio-add"
          >
            추가
          </button>
          <%- include('includes/portfolio-add') %>
          <!-- 추가 모달 -->

          <!-- 수정 모달 -->
          <button
            type="button"
            class="btn btn-primary fa-solid fa-pen"
            data-bs-toggle="modal"
            data-bs-target="#portfolio"
          >
            수정
          </button>
          <%- include('includes/portfolio') %>
          <!-- 수정 모달 -->
        </div>
      </div>
      <hr />
    </div>
    <!-- 포트폴리오 영역 -->

    <!-- 자기소개서 영역 -->
    <div class="container text-center">
      <div class="row">
        <div class="col-2">
          <p class="text-start fs-5 fw-semibold" style="margin: 10px">
            자기소개서
          </p>
          <!-- 자기소개서 초안 생성 ChatGPT -->
          <button
            type="button"
            class="btn btn-outline-primary"
            style="margin: 10px"
            data-bs-toggle="modal"
            data-bs-target="#chatgpt"
          >
            자소서 초안 생성 ChatGPT
          </button>
          <%- include('includes/chatgpt') %>
          <!-- 자기소개서 초안 생성 ChatGPT -->
        </div>

        <div class="col-8" id="aboutMeBox">
          <p
            class="fs-2 fw-semibold text-start information"
            style="margin: 10px"
          >
            예시 ) 지원동기
          </p>
          <hr />
          <p class="text-start">
            예시 ) 안녕하세요, 저는 컴퓨터 공학을 전공하고 있는 [이름]입니다.
            저는 어릴 때부터 컴퓨터와 기술에 대한 흥미를 가지고 있었고, 이러한
            흥미가 제 선택한 전공에 큰 동기부여가 되었습니다. 저는 컴퓨터 공학을
            통해 현대 사회에서 가장 중요한 기술 분야에 기여하고자 하는 열정을
            가지고 있습니다. 제 전공을 선택한 이유는 컴퓨터의 동작 원리와
            소프트웨어 개발, 네트워킹 등 다양한 분야에 대한 지식을 습득하여
            혁신적인 기술을 개발하고 사회 문제를 해결하는 데 도움을 주고 싶기
            때문입니다. 제가 가장 흥미를 갖는 분야는 인공지능과 머신 러닝입니다.
            이 분야에서 데이터 분석과 패턴 인식을 통해 현실 세계의 문제를
            해결하고, 사람들의 삶을 더 편리하고 풍요롭게 만드는 것이 제
            목표입니다. 대학에서의 학업 뿐만 아니라 개인적으로도 프로젝트를
            수행하며 실력을 향상시켜 왔습니다. [프로젝트 설명 및 역할] 등의
            프로젝트를 진행하면서 협업 능력을 기르고, 문제 해결 능력을
            향상시키는 데 큰 도움을 얻었습니다. 또한, 프로그래밍 언어들과
            데이터베이스 관리, 웹 개발 등 다양한 기술을 습득하여 실제로 제가
            생각한 아이디어를 구현해 볼 수 있었습니다. 끊임없이 발전하는 IT
            분야에서 새로운 기술과 도전에 열려 있는 자세를 가지고 있으며, 문제
            해결 능력과 창의적인 사고를 통해 어려운 과제를 극복해 나가는 데 자신
            있습니다. 또한, 다양한 배경과 관점을 가진 동료들과의 협업을 통해
            새로운 아이디어와 솔루션을 찾아내는 과정에서 많은 것을 배우고
            성장하고자 합니다. 저는 [대학 이름]에서 컴퓨터 공학을 공부하며
            전문적인 지식과 실무 능력을 함께 발전시키고, 이를 통해 사회에
            기여하는 컴퓨터 공학자로 성장하고자 합니다. 감사합니다.
          </p>
          <!-- 수정 아이콘 -->
        </div>

        <div class="col-2" style="margin-top: 20px">
          <!-- 추가 모달 -->
          <button
            id="addAboutemeBtn"
            type="button"
            class="btn btn-primary fa-solid fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#aboutme-add"
          >
            추가
          </button>
          <%- include('includes/aboutme-add') %>
          <!-- 추가 모달 -->

          <!-- 수정 모달 -->
          <button
            type="button"
            class="btn btn-primary fa-solid fa-pen"
            data-bs-toggle="modal"
            data-bs-target="#aboutme"
          >
            수정
          </button>
          <%- include('includes/aboutme') %>
          <!-- 수정 모달 -->
        </div>
      </div>
    </div>
    <!-- 자기소개서 영역 -->
    <!-- 여백값 주기 -->
    <div class="p-4"></div>
    <%- include('includes/footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
  <script src="/js/mypage-user.js"></script>
</html>
